# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
data/
.idea/
db/
.data/
.db/
ledger/.data/*
*/data
*/db
*/.db
*/gravity-hub
*/gravity-hub.exe
*/.idea
*/build
*/*/build
*/gh-node
oracle/config.*.json
# Deploy vendor
nebula-address.txt
migration.txt

cmd/gravity/gravity
.vscode/
/artifacts/
/cache/
/node_modules/
/typechain/
/coverage.json
/coverage/
*DS_Store
